body{
    background-color: #1F2937;
    align-items: center;
}

.container{
    width: 550px;
    height: 550px;
    background-color: #1F2937;
    margin: 64px auto;
    border: 3px solid black;
}

h1{
    font-family: 'Karla', sans-serif;
    font-size: 40px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: -0.025em;
    text-align: left;
    color: white;
    margin-bottom: 0;
    margin-top: 115px;
    margin-left: 52px;

}

#random-text{
    color: #4ADF86;
}

p {
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #D5D4D8;
    margin-left: 52px;
    margin-bottom: 0px;

}

#footer{
    font-size: 15px;
    margin: 30px auto 20px auto; 
    display: flex;
    justify-content: center;
    align-items: center;    
}

button {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 17px 9px 15px;
    gap: 12px;
    background: #10B981;
    /* shadow/sm */

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    border: none;
    color: white;
    margin: 51px 0 0 51px;
    cursor: pointer;
}

button:hover{
    background-color: #023047;
}

hr{
    width: 446px;
    border: 1px solid #2F3E53;
    margin-top: 35px;
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    width: 211px;
    height: 40px;
    background: #273549;
    border-radius: 6px;
    color: #55F991;
    margin: 35px 35px 0 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rect2{
    margin-left: 287px;
}



ul li:hover{
    background-color: #023047;
    cursor: pointer;
    color: white;
}

footer{
    font-family: 'Share Tech Mono', monospace;
    color: #55F991;
    text-align: center;
    padding-bottom: 10px;
}

